---
permalink: /
layout: index
title: Development, Design, and UI/X
description: Our Work
snapshots:
  - thumbnail_path: assets/img/snapshots/shotbud-sessions.jpg
    fullsize_path: assets/img/snapshots/fullsize/shotbud-sessions@2x.jpg
    hide_on_medium: false
    name: Shotbud
  - thumbnail_path: assets/img/snapshots/panoply-customers.jpg
    fullsize_path: assets/img/snapshots/fullsize/panoply-customers@2x.jpg
    hide_on_medium: false
    name: Panoply
  - thumbnail_path: assets/img/snapshots/panoply-docs.jpg
    fullsize_path: assets/img/snapshots/fullsize/panoply-docs@2x.jpg
    hide_on_medium: false
    name: Panoply
  - thumbnail_path: assets/img/snapshots/lifeflower-hero.jpg
    fullsize_path: assets/img/snapshots/fullsize/lifeflower-hero@2x.jpg
    hide_on_medium: false
    name: Life Flower
  - thumbnail_path: assets/img/snapshots/shotbud-logo.jpg
    fullsize_path: assets/img/snapshots/fullsize/shotbud-logo@2x.jpg
    hide_on_medium: false
    name: ShotBud App Icon
  - thumbnail_path: assets/img/snapshots/shotwatch-menu.jpg
    fullsize_path: assets/img/snapshots/fullsize/shotwatch-menu@2x.jpg
    hide_on_medium: false
    name: ShotBud Apple Watch App
  - thumbnail_path: assets/img/snapshots/xcycle-app.jpg
    fullsize_path: assets/img/snapshots/fullsize/xcycle-app@2x.jpg
    hide_on_medium: false
    name: XCycle Mobile App
  - thumbnail_path: assets/img/snapshots/thebottleroom-logo.jpg
    fullsize_path: assets/img/snapshots/fullsize/thebottleroom-logo@2x.jpg
    hide_on_medium: false
    name: The Bottle Room Brand
  - thumbnail_path: assets/img/snapshots/amiotek-2.jpg
    fullsize_path: assets/img/snapshots/fullsize/amiotek-2@2x.jpg
    hide_on_medium: false
    name: Amiotek Mobile App
  - thumbnail_path: assets/img/snapshots/orders.jpg
    fullsize_path: assets/img/snapshots/fullsize/orders@2x.jpg
    hide_on_medium: false
    name: Orders App
  - thumbnail_path: assets/img/snapshots/timelines.jpg
    fullsize_path: assets/img/snapshots/fullsize/timelines@2x.jpg
    hide_on_medium: false
    name: Timelines App
  - thumbnail_path: assets/img/snapshots/acrimuller-webpresence.jpg
    fullsize_path: assets/img/snapshots/fullsize/acrimuller-webpresence@2x.jpg
    hide_on_medium: false
    name: Acri Muller Web Presence
  - thumbnail_path: assets/img/snapshots/harlowes-card.jpg
    fullsize_path: assets/img/snapshots/fullsize/harlowes-card@2x.jpg
    hide_on_medium: false
    name: Harlowe's Card
  - thumbnail_path: assets/img/snapshots/acrimuller-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/acrimuller-mark@2x.jpg
    hide_on_medium: false
    name: Acri Muller Mark
  - thumbnail_path: assets/img/snapshots/avectous-concept.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-concept@2x.jpg
    hide_on_medium: false
    name: Avectous Concept
  - thumbnail_path: assets/img/snapshots/avectous-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-mark@2x.jpg
    hide_on_medium: false
    name: Avectous Mark
  - thumbnail_path: assets/img/snapshots/cog-ipad.jpg
    fullsize_path: assets/img/snapshots/fullsize/cog-ipad@2x.jpg
    hide_on_medium: false
    name: Casino-on-the-Go App
  - thumbnail_path: assets/img/snapshots/halo.jpg
    fullsize_path: assets/img/snapshots/fullsize/halo@2x.jpg
    hide_on_medium: false
    name: HALo Mobile
  - thumbnail_path: assets/img/snapshots/quiksilver-book.jpg
    fullsize_path: assets/img/snapshots/fullsize/quiksilver-book@2x.jpg
    hide_on_medium: false
    name: Quiksilver Book
  - thumbnail_path: assets/img/snapshots/dff-logo.jpg
    fullsize_path: assets/img/snapshots/fullsize/dff-logo@2x.jpg
    hide_on_medium: false
    name: Daily Film Fest Identity
  - thumbnail_path: assets/img/snapshots/masterminded-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/masterminded-mark@2x.jpg
    hide_on_medium: false
    name: Masterminded Mark
  - thumbnail_path: assets/img/snapshots/mediaplayer-iphone.jpg
    fullsize_path: assets/img/snapshots/fullsize/mediaplayer-iphone@2x.jpg
    hide_on_medium: false
    name: Media Player
  - thumbnail_path: assets/img/snapshots/scarlet-package.jpg
    fullsize_path: assets/img/snapshots/fullsize/scarlet-package@2x.jpg
    hide_on_medium: false
    name: Scarlet Package Design
  - thumbnail_path: assets/img/snapshots/halo-quickmenu.jpg
    fullsize_path: assets/img/snapshots/fullsize/halo-quickmenu@2x.jpg
    hide_on_medium: false
    name: Hosts App
  - thumbnail_path: assets/img/snapshots/wagswhiskers-card.jpg
    fullsize_path: assets/img/snapshots/fullsize/wagswhiskers-card@2x.jpg
    hide_on_medium: false
    name: Wags and Whiskers Card
  - thumbnail_path: assets/img/snapshots/tfc-identity.jpg
    fullsize_path: assets/img/snapshots/fullsize/tfc-identity@2x.jpg
    hide_on_medium: true
    name: The Food Concierge Identity
  - thumbnail_path: assets/img/snapshots/tfc-web.jpg
    fullsize_path: assets/img/snapshots/fullsize/tfc-web@2x.jpg
    hide_on_medium: false
    name: The Food Concierge Web Presence
  - thumbnail_path: assets/img/snapshots/zenzara-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/zenzara-mark@2x.jpg
    hide_on_medium: false
    name: Zenzara Mark
---

<div class="modal" id="cf-gallery-modal">

  <img id="cf-gallery-modal-img">

  <div class="modal__preloader">
  </div>

</div>





<header class="header header--dark">
  <h1>Full Stack Development, Design,&nbsp;&amp;&nbsp;UI/X</h1>
  <span class="subheading">
    We are Cubicflow – a small creative shop that&nbsp;builds&nbsp;big&nbsp;things.
  </span>
</header>

{% assign casestudies = site.casestudies | sort: 'display_order' %}
{% for casestudy in casestudies %}
  {% if casestudy.featured %}
  <a href="{{casestudy.url}}" class="featured-case-study">

    <div class="featured-case-study__image cf-responsive" style="background-image: url({{casestudy.featured_thumbnail_path}})">
    </div>

    <div class="case-study__label">{{casestudy.thumbnail_label}}</div>
  </a>
  {% endif %}
{% endfor %}

<div class="case-study-grid">
  {% for casestudy in casestudies %}
    {% if casestudy.featured == false %}
      <a href="{{casestudy.url}}" class="case-study">

        <img class="case-study__image cf-responsive" src="{{casestudy.thumbnail_path}}">

        <div class="case-study__label">{{casestudy.thumbnail_label}}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<!-- <div class="case-study-grid">
  {% for item in page.case_studies %}
  <a href="{{item.case_study_link}}" class="case-study">

    <img class="case-study__image" src="{{item.image_path}}">

    <div class="case-study__label">{{ item.label}}</div>
  </a>
  {% endfor %}
</div> -->


<header class="header header--dark">
  <h1>More Snapshots</h1>
  <span class="subheading">
  Here are a some additional images from current and past projects to give you a further look at the kind of work&nbsp;we&nbsp;do.
  </span>
</header>


<div class="shapshots-grid">

  {% for item in page.snapshots %}
  <a data-fullsize="{{item.fullsize_path}}" class="shapshots-grid__snapshot {% if item.hide_on_medium %} shapshots-grid__snapshot--hide-on-med-only {% endif %}">
    <div class="shapshots-grid__snapshot__overflow">
      <img class="cf-responsive" src="{{item.thumbnail_path}}">
    </div>
  </a>
  {% endfor %}

</div>
