---
permalink: /
layout: index
title: Homepage
description: Page desc here
snapshots:
  - thumbnail_path: assets/img/snapshots/amiotek-2.jpg
    fullsize_path: assets/img/snapshots/fullsize/amiotek-2.jpg
    hide_on_medium: false
    name: Amiotek Mobile App
  - thumbnail_path: assets/img/snapshots/orders.jpg
    fullsize_path: assets/img/snapshots/fullsize/orders.jpg
    hide_on_medium: false
    name: Orders App
  - thumbnail_path: assets/img/snapshots/timelines.jpg
    fullsize_path: assets/img/snapshots/fullsize/timelines.jpg
    hide_on_medium: false
    name: Timelines App
  - thumbnail_path: assets/img/snapshots/acrimuller-webpresence.jpg
    fullsize_path: assets/img/snapshots/fullsize/acrimuller-webpresence.jpg
    hide_on_medium: false
    name: Acri Muller Web Presence
  - thumbnail_path: assets/img/snapshots/acrimuller-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/acrimuller-mark.jpg
    hide_on_medium: false
    name: Acri Muller Mark
  - thumbnail_path: assets/img/snapshots/scarniciproductions-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/scarniciproductions-mark.jpg
    hide_on_medium: false
    name: Scarnici Productions Mark
  - thumbnail_path: assets/img/snapshots/amiotek-1.jpg
    fullsize_path: assets/img/snapshots/fullsize/amiotek-1.jpg
    hide_on_medium: false
    name: Amiotek Mobile App
  - thumbnail_path: assets/img/snapshots/truckadventures-webpresence.jpg
    fullsize_path: assets/img/snapshots/fullsize/truckadventures-webpresence.jpg
    hide_on_medium: false
    name: Truck Adventures Web Presence
  - thumbnail_path: assets/img/snapshots/amiotek-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/amiotek-mark.jpg
    hide_on_medium: false
    name: Amiotek Mark
  - thumbnail_path: assets/img/snapshots/avectous-concept.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-concept.jpg
    hide_on_medium: false
    name: Avectous Concept
  - thumbnail_path: assets/img/snapshots/avectous-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-mark.jpg
    hide_on_medium: false
    name: Avectous Mark
  - thumbnail_path: assets/img/snapshots/harlowes-card.jpg
    fullsize_path: assets/img/snapshots/fullsize/harlowes-card.jpg
    hide_on_medium: false
    name: Harlowe's Card
  - thumbnail_path: assets/img/snapshots/cog-ipad.jpg
    fullsize_path: assets/img/snapshots/fullsize/cog-ipad.jpg
    hide_on_medium: false
    name: Casino on the Go
  - thumbnail_path: assets/img/snapshots/halo.jpg
    fullsize_path: assets/img/snapshots/fullsize/halo.jpg
    hide_on_medium: false
    name: HALo Mobile
  - thumbnail_path: assets/img/snapshots/noflares-web.jpg
    fullsize_path: assets/img/snapshots/fullsize/noflares-web.jpg
    hide_on_medium: false
    name: No Flares
  - thumbnail_path: assets/img/snapshots/quiksilver-book.jpg
    fullsize_path: assets/img/snapshots/fullsize/quiksilver-book.jpg
    hide_on_medium: false
    name: Quiksilver Book
  - thumbnail_path: assets/img/snapshots/dff-logo.jpg
    fullsize_path: assets/img/snapshots/fullsize/dff-logo.jpg
    hide_on_medium: false
    name: G2Z Iconography
  - thumbnail_path: assets/img/snapshots/knovia-web.jpg
    fullsize_path: assets/img/snapshots/fullsize/knovia-web.jpg
    hide_on_medium: false
    name: Knovia Website
  - thumbnail_path: assets/img/snapshots/g2z-campaign.jpg
    fullsize_path: assets/img/snapshots/fullsize/g2z-campaign.jpg
    hide_on_medium: false
    name: G2Z Website
  - thumbnail_path: assets/img/snapshots/masterminded-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/masterminded-mark.jpg
    hide_on_medium: false
    name: Masterminded Mark
  - thumbnail_path: assets/img/snapshots/mediaplayer-iphone.jpg
    fullsize_path: assets/img/snapshots/fullsize/mediaplayer-iphone.jpg
    hide_on_medium: false
    name: Media Player
  - thumbnail_path: assets/img/snapshots/scarlet-package.jpg
    fullsize_path: assets/img/snapshots/fullsize/scarlet-package.jpg
    hide_on_medium: false
    name: Scarlet Package Design
  - thumbnail_path: assets/img/snapshots/halo-quickmenu.jpg
    fullsize_path: assets/img/snapshots/fullsize/halo-quickmenu.jpg
    hide_on_medium: false
    name: Hosts App
  - thumbnail_path: assets/img/snapshots/wagswhiskers-card.jpg
    fullsize_path: assets/img/snapshots/fullsize/wagswhiskers-card.jpg
    hide_on_medium: false
    name: Wags and Whiskers Card
  - thumbnail_path: assets/img/snapshots/tfc-identity.jpg
    fullsize_path: assets/img/snapshots/fullsize/tfc-identity.jpg
    hide_on_medium: true
    name: The Food Concierge Identity
  - thumbnail_path: assets/img/snapshots/tfc-web.jpg
    fullsize_path: assets/img/snapshots/fullsize/tfc-web.jpg
    hide_on_medium: false
    name: The Food Concierge Web Presence
  - thumbnail_path: assets/img/snapshots/occ-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/occ-mark.jpg
    hide_on_medium: false
    name: On Call Capital Mark
  - thumbnail_path: assets/img/snapshots/zenzara-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/zenzara-mark.jpg
    hide_on_medium: false
    name: Zenzara Mark
---

<div class="modal" id="cf-gallery-modal">

  <img id="cf-gallery-modal-img">

  <div class="modal__preloader">
  </div>

</div>





<header class="header header--dark">
  <h1>Design. Web. Brand. UI/X.</h1>
  <span class="subheading">
    We are Cubicflow – we create brands and develop one-of-a-kind&nbsp;experiences.
  </span>
</header>

{% for casestudy in site.casestudies %}
  {% if casestudy.featured %}
  <a href="{{ casestudy.url }}" class="featured-case-study">

    <div class="featured-case-study__image cf-responsive" style="background-image: url({{casestudy.featured_thumbnail_path}})">
    </div>

    <div class="case-study__label">{{ casestudy.thumbnail_label}}</div>
  </a>
  {% endif %}
{% endfor %}

<div class="case-study-grid">
  {% for casestudy in site.casestudies %}
    {% if casestudy.featured == false %}
      <a href="{{ casestudy.url }}" class="case-study">

        <img class="case-study__image cf-responsive" src="{{ casestudy.thumbnail_path }}">

        <div class="case-study__label">{{ casestudy.thumbnail_label}}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<!-- <div class="case-study-grid">
  {% for item in page.case_studies %}
  <a href="{{item.case_study_link}}" class="case-study">

    <img class="case-study__image" src="{{item.image_path}}">

    <div class="case-study__label">{{ item.label}}</div>
  </a>
  {% endfor %}
</div> -->


<header class="header header--dark">
  <h1>Snapshots.</h1>
  <span class="subheading">
  Here are a some images from current and past projects to give you a good look at the kind of work&nbsp;we&nbsp;do.
  </span>
</header>


<div class="shapshots-grid">

  {% for item in page.snapshots %}
  <a data-fullsize="{{item.fullsize_path}}" class="shapshots-grid__snapshot {% if item.hide_on_medium %} shapshots-grid__snapshot--hide-on-med-only {% endif %}">
    <div class="shapshots-grid__snapshot__overflow">
      <img class="cf-responsive" src="{{item.thumbnail_path}}">
    </div>
  </a>
  {% endfor %}

</div>
