<!doctype html>
<html class="no-js" lang="{{ site.language}} ">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="google-site-verification" content="{{ site.google-verification }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png?v=aljnALq6RQ">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png?v=aljnALq6RQ" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png?v=aljnALq6RQ" sizes="16x16">
  <link rel="manifest" href="/assets/img/favicon/manifest.json?v=aljnALq6RQ">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=aljnALq6RQ" color="#232323">
  <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico?v=aljnALq6RQ">
  <meta name="apple-mobile-web-app-title" content="Cubicflow">
  <meta name="application-name" content="Cubicflow">
  <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml?v=aljnALq6RQ">
  <meta name="theme-color" content="#262626">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
