// gets applied to body of page
.whitepage {

  background-color: $cf-grey-xxlight;
  overflow: auto;

  main {

    @include container-xsmall();
    color: $cf-grey-medium;
    padding-bottom: 100px;
    overflow: auto;

  }

  h1,h2,h3,h4,h5,h6 {
    color: $cf-grey-dark;
  }

}
