---

---

{% include head.html %}

<body class="whitepage blog post">

{% include header.html %}

{% include components/blog-ribbon.html %}

<main>
  <div class="post">
    <h1>{{ page.title }}</h1>
    {{ content }}

    <div class="post__meta">
      <div class="post__tags">
        {% for tag in page.tags %}
          <span class="post__tags__tag">{{tag}}</span>
        {% endfor %}
      </div>

      {% if page.author %}
      <div class="post__author">
        <span class="post__author__avatar"></span>
        <span class="post__author__name">{{page.author}}</span>
        <span class="post__author__date">{{ page.date | date: '%B %d, %Y' }}</span>
      </div>
      {% endif %}
    </div>
  </div>
</main>

{% include components/call-to-action.html %}

{% include footer.html %}

{% include foot.html %}
